{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/feather-icons"></script>
    {% tailwind_css %}
  </head>

  <body class="max-w-xl mx-auto py-6">
    {% block content %}{% endblock content %}
    <script>
      feather.replace();
    </script>
  </body>
</html>
